<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <link href="~/Styles/main-styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="container">
        <header>
            <h1>Mega Desk</h1>
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>
            <p>&copy; @DateTime.Now.Year Mega Desk</p>
        </footer>
    </div>
</body>
</html>