<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Page.Title</title>
    <link href="~/Styles/main-styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="container">
        <header>
            <h1>Mega Desk</h1>
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>
            <p>&copy; @DateTime.Now.Year Mega Desk</p>
            <script type="text/javascript" src="~/Scripts/main-scripts.js"></script>
        </footer>
    </div>
</body>
</html>