@{
    Page.Title = "MegaDesk";
    Layout = "~/_Layout.cshtml";
}

<section class="options">
    <div class="inner">
        <div>
            <a href="~/ViewAllQuotes.cshtml">View All Quotes</a>
        </div>
        <div>
            <a href="~/AddQuote.cshtml">Add a Quote</a>
        </div>
        <div>
            <a href="~/SearchQuotes.cshtml">Search Quotes</a>
        </div>
    </div>
</section>

<section class="image">
    <img src="~/Images/desk.png" alt="desk image" />
</section>