@{
    /**/

    Page.Title = "View All Quotes";
    Layout = "~/_Layout.cshtml";
    var db = Database.Open("MegaDeskWebApp");
    var selectCommand = "SELECT * FROM Orders";
    var selectedData = db.Query(selectCommand);
    var grid = new WebGrid(source: selectedData);
}

<h2>View all Quotes</h2>
<p class="addQuote button">
    <a href="~/AddQuote.cshtml">Add a Quote</a>
</p>
@grid.GetHtml(
    tableStyle: "grid",
    headerStyle: "head",
    alternatingRowStyle: "alt",
    columns: grid.Columns(
                grid.Column(columnName: "customerName", header: "Customer Name", format: @<a href="~/ViewQuote?id=@item.ID">@item.customerName</a>, canSort: true),
                    grid.Column("quoteDate", "Quote Date", canSort: true),
                    grid.Column("quoteAmount", "Quote Amount", canSort: false, format: (item) => @String.Format("{0:0.00}", @item.quoteAmount)),
                    grid.Column(format: @<a href="~/EditQuote?id=@item.ID">Edit</a>),
                    grid.Column(format: @<a href="~/DeleteQuote?id=@item.ID">Delete</a>)
                    )
                    )


                    <p class=" menuLink button">
                        <a href="~/Home.cshtml">Back to Menu</a>
                    </p>
