body {
    background: url("/Images/woodBackground.jpg") no-repeat fixed;
    background-size:cover;
    margin:0;
    color:saddlebrown;
}

a:link, a:visited {
    color: saddlebrown;
}

a.active {
    color:saddlebrown;
    text-decoration: underline;
    cursor: default;
}

a:hover {
    color:chocolate;
    text-decoration: underline;
}

#container {
    width: 80%;
    margin: 10px auto 30px;
    padding: 10px 25px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
}

header {
    border-bottom: 1px solid saddlebrown;
    padding: 10px 25px 20px;
    margin-left: -25px;
    margin-right:-25px;
}

header h1{
    margin:0;
}

h1, h2, h3{
    color:saddlebrown;
}

main {
    padding-top:10px;
    padding-bottom: 10px;
    position:relative;
    min-height: 350px;
}

main > #home {
    height: 60vh;
    vertical-align: middle;
    position:relative;
    max-height: 300px;
}

section.options {
    display: inline-block;
    width: 48%;
    text-align: center;
    height: inherit;
    vertical-align: middle;
    /* margin-top:-30px; */
}

section.options div.inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
}

section.options div div:first-child {
    margin-top: 0px;
}
    
section.options div div {
    margin-top: 60px;
}

.button a, input[type=submit] {
    background-color: tan;
    width: 120px;
    padding: 10px 10px;
    color: saddlebrown;
    text-decoration: none;
    display: block;
    font-weight:bold;
    text-align: center;
    border:1px solid saddlebrown;
    border-radius: 5px;
}

.button a:hover, input[type=submit]:hover {
    background-color: saddlebrown;
    color:white;
}

.submitButton{
    display:inline-block!important;
    width:70px!important;
    padding:2px 5px!important;
}

section.image {
    display: inline-block;
    width: 48%;
    vertical-align: middle;
    text-align:center;
}

section.image img {
    max-width: 250px;
    width: 100%;
}


footer{
    border-top: 1px solid saddlebrown;
    text-align:center;
    width: 100%;
    margin-left:-25px;
    position: relative;
    margin-right:-25px;
    padding:10px 25px 2px;
    margin-top:30px;
    clear:both;
}

footer p{
    margin:0;
}


/*table styles*/
.head {
    /* background-color: darkgray; */
    font-weight: bold;
    color: #FFF;
}

.grid {
    border-collapse: collapse;
    width: 80%;
    margin:0 auto;
    margin-top:50px;
}

.grid th, .grid td {
    border: 1px solid saddlebrown;
    padding: 5px 15px;
}

.grid td:nth-child(3), .grid td:nth-child(4), .grid td:nth-child(5){
    text-align:center
}

    .grid th {
        color: saddlebrown;
        background-color: tan;
    }

.alt {
    background-color:tan;
    color: saddlebrown;
}

.addQuote {
    position:absolute;
    top: 8px;
    right:0px;
}

.menuLink{
    position:absolute;
    right:0;
    top:-75px;
    clear:both;
}

#showSearch{
    /*display:none;*/
}

.searchForm{
    text-align:center;
}

.form-group select {
    width: 173px;
    padding: 2px;
}

section.form-group {
    padding-top: 20px;
}

section.form-group input, .form-group select {
    position: absolute;
    right: 55px;
    padding-left: 6px;
    border: 1px solid tan;
    color: saddlebrown;
    width: 160px;
}

section.form-group label{
    padding-left:40px;
    font-weight:bold;
}

form.quote-form input[type=submit]{
    float:right;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:15px;
}

fieldset{
    border-color: saddlebrown;
    border-width: 1px;
    border-radius:5px;
}

form.quote-form {
    max-width:500px;
    width:100%;
    margin:0 auto;
    position:relative;
    margin-bottom: 13px;
}

.form-group select {
    width: 168px;
    padding:2px;
}

#delete-quote-page .form-control, #view-quote-page .form-control, #quoteAmount {
    background-color: transparent;
    border: none;
    color: saddlebrown;
    padding-left:0px;
}

article#view-quote-page fieldset {
    padding-bottom: 25px;
}

.field-validation-error {
    font-weight: bold;
    color: red;
}

.validation-summary-errors {
    color: red;
    font-weight: bold;
    margin: 12px;
}

.cancel, .viewAll{
    float: right;
}